/* ===== MAIN FAMILIELEDEN ===== */

main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/Oba\ bg\ 4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

section.accounts {
  display: flex;
  margin: 0px;
  padding: 0px;
  border-radius: var(--border-radius);
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

article.account {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

article.addaccount {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
}

button.selecteer {
  text-align: center;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px;
  font: var(--font-paragraph);
  cursor: pointer;
  border-width: 0;
  width: 150px;
}

p.geleend,
p.boete,
p.inleverdatum {
  font: var(--font-small);
}

p.boete::before {
  content: "\eefa";
  font-family: boxicons;
  padding-right: 10px;
  font-size: 20px;
  color: #686868;
}

p.inleverdatum::before {
  content: "\ed02";
  font-family: boxicons;
  padding-right: 10px;
  font-size: 20px;
  color: #686868;
}

p.geleend::before {
  content: "\ecd8";
  font-family: boxicons;
  padding-right: 10px;
  font-size: 20px;
  color: #686868;
}

i.bx-plus {
  font-size: 100px;
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: 100%;
  cursor: pointer;
}

img.profile-picture {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 100%;
}

div.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

i.bx-dots-vertical {
  position: relative;
  font-size: 20px;
  margin-left: 190px;
  cursor: pointer;
}

h4 {
  font-size: 18px;
}

h2 {
  text-align: center;
  padding-top: 30px;
  color: var(--color-white);
  display: none;
}

p.typeaccount {
  margin-bottom: -20px;
  font-size: 14px;
}

/* MEDIA QUERY TABLET */

@media (max-width: 1000px) {
  section.accounts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 10px;
    padding: 10px;
  }
}

/* MEDIA QUERY MOBILE */

@media (max-width: 700px) {
  section.accounts {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
