/* ===== MAIN FAMILIELEDEN ===== */

body {
  background-color: var(--color-white);
}

section.accounts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-color: var(--color-lightblue);
  margin: 20px 20px 20px 30px;
  padding: 30px;
  border-radius: var(--border-radius);
  justify-items: center;
}

article.account {
  background-color: var(--color-white);
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 300px;
}

article.addaccount {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

button.selecteer {
  text-align: center;
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  font: var(--font-paragraph);
  cursor: pointer;
  border-width: 0;
}

p.boete::before,
p.inleverdatum::before,
p.geleend::before {
  content: "• ";
}

i.bx-plus {
  font-size: 100px;
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: 100%;
  cursor: pointer;
}

img.profile-picture {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 100%;
}

div.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

i.bx-dots-vertical {
  position: relative;
  font-size: 20px;
  margin-left: 190px;
  margin-top: 0px;
  cursor: pointer;
}

h2 {
  text-align: center;
  padding-top: 30px;
}

/* MEDIA QUERY TABLET */

@media (max-width: 1251px) {
  section.accounts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* MEDIA QUERY MOBILE */

@media (max-width: 970px) {
  section.accounts {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
