/* ===== OBA FONTS ===== */
@font-face {
  font-family: AvenirRoman;
  src: url(../fonts/Avenir-roman.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../fonts/Avenir-black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Colors ===== */
  --color-white: #ffffff;
  --color-lightblue: #e4e9f7;
  --color-red: #136fbc;
  --color-black: #000000;
  --color-darkgrey: #707070;

  /* ===== Typography ===== */
  --font-paragraph: 400 16px/1.5 "AvenirRoman", "Arial", sans-serif;
  --font-small: 400 14px/1.5 "AvenirRoman", "Arial", sans-serif;
  --heading-2-font: 700 2.25rem/1.5 "AvenirBlack", "Arial", sans-serif;
  --heading-3-font: 700 2rem/1.5 "AvenirBlack", "Arial", sans-serif;
  --heading-4-font: 700 1.3462rem/1.5 "AvenirBlack", "Arial", sans-serif;

  --border-radius: 10px;
  --box-shadow: 1px 1px 5px #000;
}

body {
  min-height: 100vh;
  background-color: var(--color-white);
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-red);
  color: var(--color-white);
}

/* ===== Scrollbar ===== */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 10px;
  border: 5px solid #ffffff;
}

/* ===== Sidebar ===== */
nav.sidebar {
  height: 100vh;
  width: 260px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  padding: 1rem;
  box-shadow: 7px 0px 20px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
  transition: transform ease-in-out 0.3s;
  transform: translateX(0);
}

nav.sidebar li {
  width: 100%;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--color-white);
  list-style: none;
  padding: 0px 10px;
  margin: 3px 0;
}

nav.sidebar li:hover {
  background-color: var(--color-red);
  transition: 0.3s ease;
  color: var(--color-white);
}

nav.sidebar li.active {
  background-color: var(--color-lightblue);
  color: var(--color-black);
}

nav.sidebar li.active > a:hover {
  color: var(--color-black);
}

nav.sidebar li a {
  all: unset;
  font: var(--font-paragraph);
  width: 100%;
  height: 50px;
  line-height: 50px;
}

nav.sidebar li a:hover {
  color: var(--color-white);
}

nav.sidebar li.search-box {
  height: 50px;
  border-radius: 10px;
  background-color: #ededed;
  padding: 0px;
}

nav.sidebar li.search-box input {
  outline: none;
  border: none;
  background-color: #ededed;
  height: 100%;
  color: var(--color-black);
  font: var(--font-paragraph);
  padding-left: 5px;
  border-radius: 0px 10px 10px 0px;
}

nav.sidebar li.search-box:hover {
  color: var(--color-black);
  cursor: unset;
}

nav.sidebar li.search-box i {
  padding-left: 10px;
}

.bx.bx-menu.icon {
  display: none;
}

img.profile-picture {
  border-radius: 100%;
}

div.user-info {
  display: flex;
  padding: 30px 0 30px 0;
}

div.user-info-text {
  padding-left: 10px;
  padding-top: 5px;
  font: var(--font-paragraph);
}

main {
  margin-left: 260px;
}

.mobile-header {
  display: none;
}

/* ===== Sidebar Mobile ===== */

@media screen and (max-width: 1250px) {
  nav.sidebar {
    width: 260px;
    transform: translateX(-260px);
  }

  nav.sidebar.collapsed {
    width: 260px;
    transform: translateX(0);
  }

  .bx.bx-menu.icon {
    position: relative;
    display: block;
    z-index: 2;
    font-size: 30px;
    transition: ease-in-out 0.3s;
    color: var(--color-black);
  }

  .bx.bx-menu.icon.collapsed {
    left: 200px;
  }

  main {
    margin-left: 0px;
    padding-top: 70px;
  }

  .mobile-header {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    width: 100%;
  }
  div.search-box input {
    height: 30px;
    border: none;
    background-color: #ededed;
    border-radius: 5px;
    padding-top: 5px;
  }

  div.search-box {
    background-color: #ededed;
    border-radius: 5px;
    padding-left: 10px;
  }
}

/* ===== Headings and Parapgraphs ===== */

h2 {
  font: var(--heading-2-font);
}

h3 {
  font: var(--heading-3-font);
}

h4 {
  font: var(--heading-4-font);
}

p {
  font: var(--font-paragraph);
}

li {
  font: var(--font-paragraph);
}
