span.welkom-intro-heading {
  color: var(--color-red);
}

main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/Oba\ bg\ 5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

section.welkom-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

article.welkom-intro-left {
  width: 50%;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-right: 5px;
  display: none;
}

article.welkom-intro-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  border-radius: var(--border-radius);
  margin-left: 5px;
}

ul.welkom-ul {
  margin-left: 20px;
  padding-top: 30px;
}

ul.welkom-ul > li {
  padding-top: 10px;
}

div.welkom-heading-img {
  display: flex;
  padding-bottom: 30px;
}

div.menu-item {
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.3s;
  height: 150px;
  width: 200px;
}

div.menu-item:hover {
  background-color: var(--color-red);
  color: white;
}

div.menu-item > i {
  font-size: 30px;
}

@media only screen and (max-width: 760px) {
  article.welkom-intro-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  article.welkom-intro-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  div.menu-item {
    height: 125px;
    width: 150px;
  }
}
